@use '../variables.scss' as *;

.button-component-submit{
  width: 150px;
  height:30px;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: $secondary_yellow;
  color: $primary_black;
  font-weight: bold;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  
  &:hover{
    background-color: $primary_yellow;
  }

  &:disabled{
    background-color: #cfcfcf;
    cursor: not-allowed;
  } 

}

.button-component-remove{
  width: 150px;
  height:30px;
  padding: 5px 10px;
  margin: 10px;
  background-color: $primary_red;
  color: $primary_white;
  font-weight: bold;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  
  &:hover{
    background-color: $secondary_red;
  }

  &:disabled{
    background-color: #cfcfcf;
    cursor: not-allowed;
  } 

}

.button-component-add{
  width: 150px;
  height:30px;
  padding: 5px 10px;
  margin: 10px;
  background-color: $primary_green;
  color: $primary_white;
  font-weight: bold;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  
  &:hover{
    background-color: $secondary_green;
  }

  &:disabled{
    background-color: #cfcfcf;
    cursor: not-allowed;
  } 

}




