@use '../../components/variables.scss' as *;

.bullet-page{
    min-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    
.ratings-section{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    margin-bottom: 0px;
}

.feedback-section{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-bottom: 0px;
}
    @media screen and (max-width: 440px){
        .ratings-section{
            align-items: center;
            flex-direction: column;
        }
    }
}
