@use '../../components/variables.scss' as *;

h2{
    color: $primary_yellow;
    margin: 5px;
}


.card-main{
    width: 80%;
    height: 60%;
    margin: 15px;
    transition: transform 0.3s ease; 

    &:hover{
        cursor: pointer;
        transform: translateY(-10px); 
    }

    .card-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .card-box{
        padding: 20px;
        background-color: $primary_white;
        border-radius: 10px;
        box-shadow: 0px 0px 3px 0px $primary_gray;
    }
}


@media screen and (max-width: 440px){
    .card-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .card-box{
        height: 100%;
        width: 70%;

        .card-body{
            padding: 5px;
        }

        h1{
            text-wrap: nowrap;
            font-size: 23px;
        }

        h2{
            font-size: 20px;
        }

        p{
            width: 100%;
            text-wrap: balance;
        }
    }
}