$primary_blue: #646cff;
$secondary_blue: #5a5aff;

$primary_gray: #5e5e5e;
$secondary_gray: #cfcfcf;

$primary_black: #1b1b1b;

$primary_white: #fff;

$primary_yellow: #f0ec05;
$seconday_yellow: #fffb04;
$thertiary_yellow: #fffd6c;

$primary_green: rgb(30, 255, 30);
$secondary_green: rgb(32, 228, 32);

$primary_red: rgb(255, 0, 0);
$secondary_red: rgb(228, 0, 0);