$primary_blue: #646cff;
$secondary_blue: #5a5aff;

$primary_gray: #5e5e5e;
$secondary_gray: #cfcfcf;

$primary_black: #1b1b1b;

$primary_white: #fff;

$primary_yellow: #f0ec05;
$seconday_yellow: #fffb04;
$thertiary_yellow: #fffd6c;